<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Stock Checker!</title>
    <meta name="description" content="A cool thing made with HyperDev">
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./public/style.css">
  </head>
  <body>
    <header class="text-center ">
      <img class="img-responsive" src="https://d33wubrfki0l68.cloudfront.net/4ba4ee4d1ac4caf5c0c3fa44ccc8fddd5bd11222/3f5b1/img/freecodecamp-alternative.png" alt="FreeCodeCamp Logo">

      <h1 class="text-center">
        Stock Price Checker
      </h1>
    </header>

    <div class="row container-fluid" >
      <div class="col-xs-6">
        <div class="well">
          <h3>Get single stock price and total likes</h3>
          <div id="single" >
            <form id="testForm2" class="border">
              <input id="leftinput" type="text" name="stock"  placeholder="Type a stock (e.g. GOOG,MSFT,FB,AAPL etc)" required=''>
              <input id="leflike" type="checkbox" name="like" value=true> Like?<br>
              <button onclick="document.getElementById('jsonResult').style.display='block'" type="submit">Search</button>
            </form>
          </div>

        </div>
      </div>
      <div class="col-xs-6">
        <div class="well">
          <h3>Get two stock prices and their relative likes</h3>
          <div id="double" >
            <form id="testForm" class="border">
              <input type="text" name="stock" placeholder="Type a stock (e.g. GOOG,MSFT,FB,AAPL etc)"  required=''>
              <input type="text" name="anotherStock" placeholder="Type a stock (e.g. GOOG,MSFT,FB,AAPL etc)"  required=''>
              <input type="checkbox" name="like" value=true> Like both?<br>
              <button onclick="document.getElementById('jsonResult').style.display='block'" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
      <div class="formFlex">

      </div>
      <div id='testui' >


      </div>
    <div id='jsonResult'>Waiting and Loading data.....</div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));

            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/stock-prices',
            type: 'get',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
   </script>
    <footer id="footer" class="container-fluid">
      <p class="mt-2 mb-0">Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. <a href="https://iextrading.com/api-exhibit-a/">View IEX’s Terms of Use</a>.</p>
      <p>qlip © 2019. All Rights Reserved
        By <a href="https://ng.linkedin.com/in/okonkwo-afam-14103b84">AfamO</a>
      </p>
    </footer>
  </body>
</html>
